.zig-cache/
zig-out/
zig-pkg/
dist/
oh_modules/
.idea/
.preview/
.cxx/
.clangd
.hvigor/
local.properties
*.har
*.hap
.DS_Store
example/build/
example/oh_modules/
package/build/
package/oh_modules/
package/libs/
example/libs/
